.toolbar-icon{
    margin-right: 20px;
}

.form-container{
    padding: 20px;
    width: 50%;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}

.mat-form-field{
    margin-bottom: 7px;
    margin-top: 7px;
}

.btnContainer{
    margin: 0 auto;
    button{
        margin: 10px
    }
}