<mat-card>
  <h1>Translate</h1>

  <p>
    <b>Pipes: </b>
    {{'message' | translate }}
  </p>
  <p>
    <b>Directives as attribute: </b>
    <label [translate]="'message'"></label>
  </p>
  <p>
    <b>Directives as content: </b>
    <label translate>message</label>
  </p>

  <h3>Passing parameters</h3>
  <p>
    <b>Pipes: </b>
    {{'greeting' | translate:{'name':'Andrés'} }}
  </p>
  <p>
    <b>Directives as attribute: </b>
    <label [translate]="'greeting'" [translateParams]="{'name':'Andrés'}"></label>
  </p>
  <p>
    <b>Directives as content: </b>
    <label translate [translateParams]="{'name':'Andrés'}">greeting</label>
  </p>
  <h3>From Typescript</h3>

  <mat-form-field >
    <input matInput [(ngModel)]="myText" placeholder="Say something" >
  </mat-form-field>
  
  <button mat-button (click)="showDialog()">Say!</button>


</mat-card>
<mat-card>
  <h1>Pipes |</h1>

  <p>{{nombreBase | uppercase}}</p>
  <p>{{nombreBase | lowercase}}</p>

  <p>{{nombreBase | welcome}}</p>

  <p>{{ranking | rankingcolor}}</p>

  <img src="{{ranking | rankingcolor}}" style="height: 40px;" />

  <img src="{{'2' | rankingcolor}}" style="height: 40px;" />

</mat-card>



<div>
  <span>{{lblNombre.toUpperCase()}}</span>
  <input type="text" value="{{nombreBase}}">
  <button mat-button (click)="Guardar()">{{lblGuardar}}</button>
</div>