
<mat-card>
    <h1>
      Rxjs
    </h1> 
  
        <div>
            1) Creacion de observable - Streaming
            <b *ngFor="let msg of ObservableMsgs">
                {{msg}}
            </b>
        </div>
        <div>
            2) Observable - Eventos del DOM
            <b *ngFor="let msg of clicksMsgs">
                {{msg}}
            </b>
        </div>
        <div>
            3) Observable - Timer por intervalo
            <button mat-button (click)="llamarTimerInterval()" >Llamar timer interval</button>
            <b *ngFor="let msg of timerIntervalMsgs">
                {{msg}}
            </b>
        </div>
        <div>
            4) Observable - Timer 
            <button mat-button (click)="llamarTimer()" >Llamar timer</button>
            <b *ngFor="let msg of timerMsgs">
                {{msg}}
            </b>
        </div>
<div>
    5) Observable con valores estaticos
    <b *ngFor="let msg of staticMsgs">
        {{msg}}
    </b>
</div>

  
  </mat-card>


<mat-card>
  <h1>Translate</h1>

  <p>
    <b>Pipes: </b>
    {{'message' | translate }}
  </p>
  <p>
    <b>Directives as attribute: </b>
    <label [translate]="'message'"></label>
  </p>
  <p>
    <b>Directives as content: </b>
    <label translate>message</label>
  </p>

  <h3>Passing parameters</h3>
  <p>
    <b>Pipes: </b>
    {{'greeting' | translate:{'name':'Andrés'} }}
  </p>
  <p>
    <b>Directives as attribute: </b>
    <label [translate]="'greeting'" [translateParams]="{'name':'Andrés'}"></label>
  </p>
  <p>
    <b>Directives as content: </b>
    <label translate [translateParams]="{'name':'Andrés'}">greeting</label>
  </p>
  <h3>From Typescript</h3>

  <mat-form-field >
    <input matInput [(ngModel)]="myText" placeholder="Say something" >
  </mat-form-field>
  
  <button mat-button (click)="showDialog()">Say!</button>


</mat-card>
<mat-card>
  <h1>Pipes |</h1>

  <p>{{nombreBase | uppercase}}</p>
  <p>{{nombreBase | lowercase}}</p>

  <p>{{nombreBase | welcome}}</p>

  <p>{{ranking | rankingcolor}}</p>

  <img src="{{ranking | rankingcolor}}" style="height: 40px;" />

  <img src="{{'2' | rankingcolor}}" style="height: 40px;" />

</mat-card>



<div>
  <span>{{lblNombre.toUpperCase()}}</span>
  <input type="text" value="{{nombreBase}}">
  <button mat-button (click)="Guardar()">{{lblGuardar}}</button>
</div>


